footer {
    display: grid;
    grid-template-columns: 35% 35% 25%;
    background-color: var(--main-color);
    padding: 10px 20px;
    column-gap: 20px;
    row-gap: 40px;

    .first {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 200px;
        }

        p {
            font-family: "Jost";
            color: var(--light-text-color);
            padding-left: 30px;
            font-size: 1.1em;
        }
    }

    .second {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-left: 1px solid #ffffff2f;
        border-right: 1px solid #ffffff2f;
        padding: 0px 30px;

        h1 {
            font-family: "Bebas Neue";
            color: var(--head-color);
            border: none;
        }

        p {
            color: var(--light-text-color);
            font-family: "Jost";
        }
    }

    .third {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-family: "Bebas Neue";
            color: var(--head-color);
            padding: 0px 20px;
            border: none;
        }

        p {
            font-family: "Jost";
            color: var(--light-text-color);
            font-size: 1.2em;
            padding: 0px 20px;
        }

        .links {
            display: flex;
            gap: 10px;
            padding: 0px 20px;

            a {
                font-size: 1.5em;
                text-decoration: none;
                color: #4e4e4e;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    color: var(--head-color);
                }
            }
        }

        img {
            width: 150px;
        }
    }

    .fourth {
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        border-top: 1px solid #ffffff2f;
        border-bottom: 1px solid #ffffff2f;
        padding: 10px;

        .page_links {
            display: flex;
            gap: 20px;

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                font-family: "Jost";
                color: var(--text-color);
                transition: .2s;

                &:hover {
                    color: var(--head-color);
                }
            }
        }


        @media screen and (max-width: 425px){
             .page_links{
                flex-direction: column;
                align-items: center;
             }               
        }
    }

    .fifth {
        grid-column: 1/4;
        display: flex;
        justify-content: center;

        p {
            font-family: "Jost";
            color: #969393;
            font-size: .9em;
        }
    }
}

@media screen and (max-width:1024px) {
    footer {
        grid-template-columns: 90%;

        .first {
            align-items: center;
            text-align: center;
        }

        .second {
            grid-column: 1/3;
            align-items: center;
            text-align: center;
        }

        .third {
            grid-column: 1/3;
            align-items: center;
        }
    }
}